body {
    margin: 1em;
}

body, input, select, textarea, button {
    font: 10pt "Open Sans", sans-serif;
}

select,
textarea {
    display: block;
    width: 100%;
}

textarea {
    height: 400px;
}

td {
    width: 50%;
    padding: 1em;
    vertical-align: top;
}

#output.error {
    color: orangered;
}

#code {
    font-family: monospace;
    white-space: pre;
}
