* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  color: #188075;
}

body, input, select, button {
  font: 10pt "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

nav {
  background: #87bdb1;
  border-bottom: 3px solid #68b3af;
  height: 35px;
}

nav img {
  height: 40px;
  display: block;
  pointer-events: none;
  transform: rotate(-4deg) translateY(-3px);
}

footer {
  border-top: 1px solid #87bdb1;
  background: #aaccb1;
  padding: 10px;
}

main {
  flex: 1;
  display: flex;
}

button {
  display: block;
  height: 2.5em;
  background: #c3dbb4;
  border-bottom: 4px solid #aaccb1;
}

button:active {
  border-bottom-width: 2px;
  outline: none;
}

#output {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

#message {
  padding: 0.5em;
  background: #9ed9cb;
}

#output.error #message {
  background: orangered;
  color: #fff;
}

#code {
  font-family: fira code, menlo, monospace;
  white-space: pre;
  overflow: scroll;
  max-width: 100%;
  display: block;
  flex: 1;
}
